<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="/General/"> <button type="submit" class="btn btn-success">I want to add more Resources. </button></a>
        </div>
</div>
<div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
           <a href="/schedule/"> <button type="submit" class="btn btn-success">Schedule My Resources. </button></a>
        </div>
</div>

</body>
</html>